﻿﻿@model SkulManagementSchool.Models.RegisterParent
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<head>


    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


</head>

<body>



    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">

                    <form role="form" class="registration-form">

                       
                        <fieldset>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Step 1 / 2</h3>
                                    <p>Enter Learner details:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>


                            <div class="form-bottom">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerName)

                                    <input type="text" name="LearnerName" placeholder="Learner Name...." class="form-first-name form-control" id="LearnerName">
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerSurname)

                                    <input type="text" name="LearnerSurname" placeholder="Learner Surname..." class="form-first-name form-control" id="LearnerSurname">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerIdNumber)

                                    <input type="text" name="LearnerIdNumber" placeholder="Learner Id Number..." class="form-first-name form-control" id="LearnerIdNumber">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerGrade)

                                    <input type="text" name="LearnerGrade" placeholder="Learner Grade..." class="form-first-name form-control" id="LearnerGrade">
                                </div>

                                <button type="button" id="btnSaveApplication" class="btn">Save Learner Details!</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascript -->
    <script src="~/Content/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.backstretch.min.js"></script>

    <script src="~/Content/assets/js/retina-1.1.0.min.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>
</body>

<script>
    function SaveApplication(data) {
        $.ajax({//Ajax is used for to call controller to get and post data.
            type: 'POST',
            url: '/Learners/SaveDetails', //Call Controller
            data: data,
            success: function (data) {
                if (data.status) {
                    console.log('Done')
                    alert('Successfully saved!');
                    window.location = data.url;
                }
                else {
                    console.log('Failed')
                    alert('Failed to Save!');
                }
            },
            error: function () {
                alert('Failed to Save!');
            }
        })
    }

    $('#btnSaveApplication').click(function () {
        var data = {
            LearnerName: $('#LearnerName').val(),
            LearnerSurname: $('#LearnerSurname').val(),
            LearnerIdNumber: $('#LearnerIdNumber').val(),
            LearnerGrade: $('#LearnerGrade').val(),
           
        }
        console.log(data);
        SaveApplication(data)
    })
</script>