﻿@model SkulManagementSchool.Models.Learner


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Allocate Learner</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Allocate</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            @Html.HiddenFor(model => model.LearnerId)
            @Html.HiddenFor(model => model.LearnerIdNumber)
            @Html.HiddenFor(model => model.LearnerName)
            @Html.HiddenFor(model => model.LearnerSurname)
            @Html.HiddenFor(model => model.LearnerGrade)
            @Html.HiddenFor(model => model.ParentId)
            @Html.HiddenFor(model => model.LearnerCertifiedID)
            @Html.HiddenFor(model => model.AcademicRecord)

            <div class="form-group">
                @Html.LabelFor(model => model.ClassroomId, "Classroom", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ClassroomId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ClassroomId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Allocate" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
