﻿@model SkulManagementSchool.Models.Learner

@{
    ViewBag.Title = "Details";
}

<h2>Make Payment</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LearnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LearnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LearnerSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LearnerSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LearnerIdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LearnerIdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LearnerGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LearnerGrade)
        </dd>
        <dt>
            Registration Fee
        </dt>
        <dd>
            R 300
        </dd>

        <dt>
            School Fees
        </dt>

        <dd>
            R4500
        </dd>
    </dl>
</div>
<button class="btn btn-success" onclick="checkOut()">PROCEED TO Payment</button>
<script>
     function checkOut() {

        window.location='@Url.Action("Track", "Order",new { learnerId=@Model.LearnerId})'

    }
</script>