﻿@model IEnumerable<SkulManagementSchool.Models.LearnerList>




           
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LearnerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LearnerSurname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LearnerIdNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClassroomName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LearnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LearnerSurname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LearnerIdNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassroomName)
                        </td>
                        <td>
                            @Html.ActionLink("Update Details", "Edit", new { id = item.LearnerId }) |

                            <a href=" @Url.Action("LearnerReport","Reports", new { learnerId = item.LearnerId })">View Report </a> |

                            @if (User.IsInRole("Parent"))
                            {
                                @Html.ActionLink("Make Payment", "Details", new { id = item.LearnerId }) 
                            }

                            @if (User.IsInRole("admin"))
                            {
                                @Html.ActionLink("Allocate", "AllocateLearner", new { id = item.LearnerId })
                            }
                        </td>
                    </tr>
                }

            </table>
        

