﻿@model SkulManagementSchool.Models.Report
@{
    Layout = null;
}

<html>
<head>
    <style>
        h3, h2 {
            text-align: center;
        }

        body {
            background-color: antiquewhite;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: black;
        }

        h3 {
            background-color: #4CAF50;
            color: black;
        }

        p.dashed {
            border-style: dashed;
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-condensed table-striped">
        <h3> <b align="right">  Personal Information</b></h3>


        <tr>
            <td>Name :</td>
            <td> @Html.DisplayFor(m => m.LearnerName)</td>
        </tr>

        <tr>
            <td>Grade :</td>
            <td>@Html.DisplayFor(m => m.ClassName)</td>

        </tr>
        <tr>
            <td>Year :</td>
            <td>@Html.DisplayFor(m => m.Year)</td>

        </tr>
        <table class="table table-bordered table-condensed table-striped">
            <center><h4><b>Academic Report</b></h4></center>
            <tr>
                <th>Subjects</th>
                <th>Marks</th>
                <th>Percentage</th>
                <th>Grade Average</th>
            </tr>
            @foreach(var item in Model.subjectLists)
            {
                <tr>
                    <td>@item.SubjectName</td>
                    <td>@item.Marks</td>
                    <td>@item.Percentage</td>
                    <td>@item.GradeAverage</td>
                </tr>
            }
        </table>
        </table>

        <br>
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <td>
                    <center><b>Academic Symbols</b></center>
                </td>
            </tr>
            <tr>

                <td>
                    <table class="table table-bordered table-condensed table-striped">


                        <tr>
                            <th>Achievement Level</th>
                            <th>Marks %</th>

                            <th>Description Of Competence</th>
                            @*<td>@Model.Salary</td>*@
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>0-29</td>
                            <td>Not Achieved</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>30-39</td>
                            <td>Elementary</td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td>40-49</td>
                            <td>Moderate</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>50-59</td>
                            <td>Adequete</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>60-69</td>
                            <td>Substantial</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>70-79</td>
                            <td>Meritorious</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>80-100</td>
                            <td>Outstanding</td>
                        </tr>
                    </table>
                </td>

            </tr>


        </table>
</body>
</html>