﻿﻿@model SkulManagementSchool.Models.RegisterParent
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<head>


    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


</head>

<body>



    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">

                    <form role="form" class="registration-form">
                       
                        <fieldset>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Step 1 / 4</h3>
                                    <p>Enter parent/guardian details:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentName)

                                    <input type="text" name="ParentName" placeholder="Name(s)..." class="form-first-name form-control" id="ParentName">
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentSurname)

                                    <input type="text" name="ParentSurname" placeholder="Surname..." class="form-first-name form-control" id="ParentSurname">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentIdNumber)

                                    <input type="text" name="ParentIdNumber" placeholder="Id Number..." class="form-first-name form-control" id="ParentIdNumber">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentOccupation)

                                    <input type="text" name="ParentOccupation" placeholder="Occupation..." class="form-first-name form-control" id="ParentOccupation">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentCellNumber)

                                    <input type="text" name="ParentCellNumber" placeholder="Cell Number..." class="form-first-name form-control" id="ParentCellNumber">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentWorkNumber)

                                    <input type="text" name="ParentWorkNumber" placeholder="Work Number..." class="form-first-name form-control" id="ParentWorkNumber">
                                </div><div class="form-group">
                                    @Html.LabelFor(model => model.ParentPhysicalAddress)

                                    <input type="text" name="ParentPhysicalAddress" placeholder="Physical Address..." class="form-first-name form-control" id="ParentPhysicalAddress">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentRelationship)

                                    <select id="ParentRelationship" name="ParentRelationship" class="form-control">
                                        <option selected="selected" value=" ">--Select Relationship--</option>
                                        <option value="Mother">Mother</option>
                                        <option value="Father">Father</option>
                                        <option value="Guardian">Guardian</option>

                                    </select>
                                </div>
                           

                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Step 2 / 4</h3>
                                    <p>Enter Learner details:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>


                            <div class="form-bottom">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerName)

                                    <input type="text" name="LearnerName" placeholder="Learner Name...." class="form-first-name form-control" id="LearnerName">
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerSurname)

                                    <input type="text" name="LearnerSurname" placeholder="Learner Surname..." class="form-first-name form-control" id="LearnerSurname">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerIdNumber)

                                    <input type="text" name="LearnerIdNumber" placeholder="Learner Id Number..." class="form-first-name form-control" id="LearnerIdNumber">
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LearnerGrade)

                                    <input type="text" name="LearnerGrade" placeholder="Learner Grade..." class="form-first-name form-control" id="LearnerGrade">
                                </div>

                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" id="btnSaveApplication" class="btn">Submit Application!</button>
                            </div>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascript -->
    <script src="~/Content/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.backstretch.min.js"></script>

    <script src="~/Content/assets/js/retina-1.1.0.min.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>
</body>

<script>
    function SaveApplication(data) {
        $.ajax({//Ajax is used for to call controller to get and post data.
            type: 'POST',
            url: '/Parents/SaveDetails', //Call Controller
            data: data,
            success: function (data) {
                if (data.status) {
                    console.log('Done')
                    alert('Successfully saved!');
                    window.location = data.url;
                }
                else {
                    console.log('Failed')
                    alert('Failed to Save!');
                }
            },
            error: function () {
                alert('Failed to Save!');
            }
        })
    }

    $('#btnSaveApplication').click(function () {
        var data = {
            LearnerName: $('#LearnerName').val(),
            LearnerSurname: $('#LearnerSurname').val(),
            LearnerIdNumber: $('#LearnerIdNumber').val(),
            LearnerGrade: $('#LearnerGrade').val(),
            ParentName: $('#ParentName').val(),
            ParentSurname: $('#ParentSurname').val(),
            ParentIdNumber: $('#ParentIdNumber').val(),
            ParentOccupation: $('#ParentOccupation').val(),
            ParentCellNumber: $('#ParentCellNumber').val(),
            ParentWorkNumber: $('#ParentWorkNumber').val(),
            ParentPhysicalAddress: $('#ParentPhysicalAddress').val(),
            ParentRelationship: $('#ParentRelationship').val()
        }
        console.log(data);
        SaveApplication(data)
    })
</script>