﻿@model IEnumerable<SkulManagementSchool.Models.Subject>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectPassRequirement)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.Classroom.ClassroomName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectPassRequirement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.ClassroomName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SubjectId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SubjectId }) |
                <a href="@Url.Action("SubjectIndex","Assessments", new { subjectId=item.SubjectId })">Assessments</a>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
