﻿﻿@model SkulManagementSchool.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Content/assets/js/retina-1.1.0.min.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Create Account</title>
</head>
<body>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.ParentId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="top-content">
            <div class="inner-bg">
                <div class="registration-form">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 form-box">
                            <div class="form-horizontal">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Step 4 / 4</h3>
                                        <p>Set up your account:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-user-circle-o"></i>
                                    </div>
                                </div>

                                <div class="form-bottom">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email..." })

                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)

                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password..." })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword)

                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password..." })

                                    </div>

                                    <button type="submit" required class="btn">Create Account <i class="fa fa-save" style="font-size:24px"></i></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
