﻿@model SkulManagementSchool.Models.Parent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentIDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentIDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentWorkNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentWorkNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentRelationship)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
