﻿@model SkulManagementSchool.Models.Parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentIdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentIdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentWorkNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentWorkNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentRelationship)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
