﻿@model IEnumerable<SkulManagementSchool.Models.Parent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentIDNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentOccupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCellNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentWorkNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentPhysicalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentRelationship)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentIDNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentOccupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCellNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentWorkNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentPhysicalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentRelationship)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParentId })
        </td>
    </tr>
}

</table>
