﻿﻿@model SkulManagementSchool.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Content/assets/js/retina-1.1.0.min.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>SaveDocuments</title>
</head>
<body>
    @using (Html.BeginForm("SaveDocuments", "Parents", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.ParentId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="top-content">
            <div class="inner-bg">
                <div class="registration-form">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 form-box">
                            <div class="form-horizontal">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Step 3 / 4 </h3>
                                        <p>Upload the following documents:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ParentCertifiedID, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <input type="file" required name="ParentCertifiedID" id="ParentCertifiedID" accept=".pdf" />

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProofOfAddress, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <input type="file" required name="ProofOfAddress" id="ProofOfAddress" accept=".pdf" />

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LearnerCertifiedID, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <input type="file" required name="LearnerCertifiedID" id="LearnerCertifiedID" accept=".pdf" />

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AcademicRecord, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <input type="file" required name="AcademicRecord" id="AcademicRecord" accept=".pdf" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" required class="btn">Upload <i class="fa fa-cloud-upload" style="font-size:24px"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
