﻿@model List<SkulManagementSchool.Models.LearnersAssessment>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Capture Marks</title>
</head>
<body>


    @using (Html.BeginForm("CaptureMarks", "LearnersAssessments", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Learner Name")
                </th>
                <th>
                    @Html.DisplayName("Mark")
                </th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(modelItem => modelItem[i].Learner)
                @Html.HiddenFor(modelItem => modelItem[i].LearnerId)
                @Html.HiddenFor(modelItem => modelItem[i].AssessmentId)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Learner.LearnerName)
                    </td>

                    <td>
                        @Html.EditorFor(modelItem => modelItem[i].Mark)
                    </td>
                </tr>
            }

        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Marks" class="btn btn-default" />
            </div>
        </div>
    }
</body>
</html>
