﻿@model IEnumerable<SkulManagementSchool.Models.LearnersAssessment>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assessment.AssessmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner.LearnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Assessment.AssessmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Learner.LearnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LearnersAssessmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LearnersAssessmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LearnersAssessmentId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
