﻿@model IEnumerable<SkulManagementSchool.Models.LearnersAssessment>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="card-header card-header-primary">
        <h4 class="card-title ">
            <i></i>@ViewBag.ClassName /
            <i></i>@ViewBag.SubjectName /
            <i></i>Assessments/
            <i></i>@ViewBag.AssessmentName
        </h4>
    </div>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Learner.LearnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Learner.LearnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
            </tr>
        }

    </table>
</body>
</html>
