﻿@model IEnumerable<SkulManagementSchool.Models.Assessment>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject.SubjectName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AssessmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contributionpercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMarkAssessment)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
                                                    
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contributionpercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMarkAssessment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AssessmentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AssessmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AssessmentId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
