﻿@model IEnumerable<SkulManagementSchool.Models.Assessment>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add New Assessment", "Create")
    </p>

    <div class="card-header card-header-primary">
        <h4 class="card-title ">
            <i></i>@ViewBag.ClassName /
            <i></i>@ViewBag.SubjectName /
            <i></i>Assessments
        </h4>
    </div>

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.AssessmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contributionpercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMarkAssessment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssessmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contributionpercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMarkAssessment)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AssessmentId }) |

                    <a href="@Url.Action("CaptureMarks","LearnersAssessments", new { assessmentId=item.AssessmentId,classroomId=ViewBag.ClassroomId})">Capture Marks</a>|
                    <a href="@Url.Action("MarksCaptured","LearnersAssessments", new { assessmentId=item.AssessmentId,className=ViewBag.ClassName,subjectName=ViewBag.SubjectName})">View Marks</a>
                </td>
            </tr>
        }

    </table>
</body>
</html>
