﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Skill Best Education Free HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />
    <!-- css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/Content/css/jcarousel.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>
<body>
    <div id="wrapper" class="home-page">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-left hidden-xs">School Management System</p>
                        <p class="pull-right"><i class="fa fa-phone"></i>Tel No. (031) 258-3471</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/img/logo.png" alt="logo" /></a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Our School</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Investors</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Learner Profile <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Parent"))
                                    {
                                        <li><a href="@Url.Action("AddLearner", "Learners")">Add New Learner</a></li>
                                    }
                                        <li><a href="@Url.Action("Index","Learners")">Registered Learners</a></li>

                                    </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Marks <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index","Subjects")">Subjects</a></li>
                                    <li><a href="@Url.Action("Index","Assessments")">Assessments</a></li>
                                    <li><a href="@Url.Action("Index","LearnersAssessments")">LearnersAssessments</a></li>
                                   
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Classroom <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index","Classrooms")">Classrooms</a></li>
                                    <li><a href="@Url.Action("Index","Grades")">Grades</a></li>

                                </ul>
                            </li>

                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a>Hello @ViewBag.ParentName!</a>
                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="/account/register">Apply Online</a></li>

                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <section id="banner">

            <!-- Slider -->
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Content/img/slides/1.jpg" alt="" />
                        <div class="flex-caption">
                            <h3>Quality Education</h3>
                            <p>We Teach Students for Sucessful Fututre</p>

                        </div>
                    </li>
                    <li>
                        <img src="~/Content/img/slides/2.jpg" alt="" />
                        <div class="flex-caption">
                            <h3>Learn to be Sucessful</h3>

                        </div>
                    </li>
                </ul>
            </div>
            <!-- end slider -->

        </section>
        <section id="call-to-action-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-9">
                        <h3>Welcome to Nkandla High School</h3>
                        <p>We offer quality education</p>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="content">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aligncenter"><h2 class="aligncenter">Grades</h2>Nkandla High School is very special school to the community of Nkandla and the surrounding areas. We do not compromise on the provision of quality education and learner discipline, as we strive to shape exceptional future women leaders who will take their rightful places in all spheres of society.</div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="skill-home">
                        <div class="skill-home-solid clearfix">
                            <div class="col-md-3 text-center">
                                <span class="icons c1"><i class="fa fa-book"></i></span> <div class="box-area">
                                    <h3>Academics</h3> <p>Our academic focus is based on the strong work ethic of both staff and learners. This is enhanced by state of the art technology and fully equipped venues which provide outstanding teaching resources.</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <span class="icons c2"><i class="fa fa-users"></i></span> <div class="box-area">
                                    <h3>Culture & Services</h3> <p>Cultural opportunities offer learners a platform from which to develop self-expression, creativity and explore their own ideas in a supportive environment while service activities reinforce the values of empathy and community.</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <span class="icons c3"><i class="fa fa-trophy"></i></span> <div class="box-area">
                                    <h3>Sport & Wellness</h3> <p>We offer a comprehensive sport programme that encompasses both the competitive and wellness elements of physical activity. We view sport as essential for the development of health, self-discipline and team work</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <span class="icons c4"><i class="fa fa-globe"></i></span> <div class="box-area">
                                    <h3>Leadership</h3> <p>We offer a range of diverse leadership opportunities, offering learners the chance to build their skills and put them into practice.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section class="section-padding gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2>Our School</h2>
                            <p>Nkandla High School is very special school to the community of Nkandla and the surrounding areas. We do not compromise on the provision of quality education and learner discipline, as we strive to shape exceptional future women leaders who will take their rightful places in all spheres of society</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-text">
                            <h3>Facitilies</h3>

                            <ul class="withArrow">
                                <li><span class="fa fa-angle-right"></span>Computer Rooms</li>
                                <li><span class="fa fa-angle-right"></span>Laboratories</li>
                                <li><span class="fa fa-angle-right"></span> Drama Wing</li>
                                <li><span class="fa fa-angle-right"></span> Music Centres</li>
                            </ul>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="about-image">
                            <img src="~/Content/img/about.jpg" alt="About Images">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="about home-about">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <!-- Heading and para -->
                        <div class="block-heading-two">
                            <h3><span>Programes</span></h3>
                        </div>
                        <p>The Academic Development Programme (ADP) of NHS is a facility that provides a venue and an environment in which learners can do homework and study after school. Supervisors are present to check homework, motivate learners and encourage their extra-curricular involvement. To ensure that our learners work to the best of their ability and use their time wisely, they are encouraged to complete their written homework, do online research, study for tests and read their library books during this time in a controlled setting.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="block-heading-two">
                            <h3><span>Statistics</span></h3>
                        </div>
                        <!-- Accordion starts -->
                        <div class="panel-group" id="accordion-alt3">
                            <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                            <div class="panel">
                                <!-- Panel heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                            <i class="fa fa-angle-right"></i> No. of Teachers : 10
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne-alt3" class="panel-collapse collapse">
                                    <!-- Panel body -->

                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                            <i class="fa fa-angle-right"></i>No. of Registered Learners : @ViewBag.learnerTot
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo-alt3" class="panel-collapse collapse">

                                </div>
                            </div>
                            
                        </div>
                        <!-- Accordion ends -->

                    </div>

                    <div class="col-md-4">
                        <div class="timetable">
                            <h3><span class="fa fa-clock-o"></span>School Operation Time</h3>
                            <hr>
                            <dl>
                                <dt>Monday - Thursday:</dt>
                                <dd>07:30am-2:30pm</dd>
                            </dl><dl><dl>
                                <dt>Friday:</dt>
                                <dd>07:30am-1:30pm</dd>
                            </dl><dl>
                                <dt>Monday - Thursday Break:</dt>
                                <dd>10:00am-11:00pm</dd>
                            </dl> </dl><dl>
                                <dt>Friday Break:</dt>
                                <dd>10:00am-11:40pm</dd>
                            </dl>
                            <dl>
                                <dt>Saturday Extra Classes:</dt>
                                <dd>9am-1pm</dd>
                            </dl>
                            <h4>Music Classes</h4>
                            <dl>
                                <dt>Saturday:</dt>
                                <dd>2pm-5pm</dd>
                            </dl>
                        </div>
                    </div>

                </div>



                <br>

            </div>

        </div>



        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Our Contact</h5>
                            <address>
                                <strong>Medico company Inc</strong><br>
                                JC Main Road, Near Silnile tower<br>
                                Pin-21542 NewYork US.
                            </address>
                            <p>
                                <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                                <i class="icon-envelope-alt"></i> email@domainname.com
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Quick Links</h5>
                            <ul class="link-list">
                                <li><a href="#">Latest Events</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-network">
                                <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/js/jquery.fancybox-media.js"></script>
    <script src="~/Content/js/jquery.flexslider.js"></script>
    <script src="~/Content/js/animate.js"></script>
    <!-- Vendor Scripts -->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/jquery.isotope.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/animate.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>